.intro
  // margin: percentage(140/1368) 0 0
  max-width: 1000px
  margin: 140px auto 0
  // padding: 0 0 percentage(350/1368) percentage(160/1368)
  padding: 0 20px 350px
  position: relative
  +r(1200)
    .intro__picture
      width: 85%
  +r($bp1)
    .intro__picture
      top: -100px
  +r($bp2)
    margin-top: 80px
    padding-bottom: 0
    .intro__picture
      width: auto
      position: relative
      top: 0
      right: -20%
      margin-left: percentage(-50/320)
      min-width: 500px
    .subtitle
      strong
        display: block
      br
        display: none

.intro__heading
  position: relative
  z-index: 0
  max-width: 540px
  text-shadow: 0 0 5px rgba(#FFF, 0.2)
  .subtitle
    margin-top: 45px

.intro__picture
  position: absolute
  z-index: 1
  top: -50px
  right: -255px
  // width: percentage(813/1368)
  // max-width: 813px
  font-size: 0
  text-align: right
  img
    max-width: 100%


.b
  position: relative
  box-sizing: border-box

.b__picture
  position: absolute
  z-index: 0
  img
    display: block
    // max-width: 100%

.b_left
  padding-right: 48%

.b_right
  padding-left: 48%

.b_about-1
  // padding-top: 310px
  min-height: 570px
  // margin-bottom: percentage(320/960)
  margin-bottom: 320px
  .b__picture
    top: 0
    right: 60%

.b_about-2
  padding-top: 330px
  // margin-bottom: percentage(160/960)
  margin-bottom: 160px
  .b__picture
    top: -25px
    right: -515px

.b_about-3
  padding-top: 410px
  // margin-bottom: percentage(230/960)
  margin-bottom: 230px
  min-height: 800px
  .b__picture
    top: 0
    right: 330px

+r($bp1)
  .b_about-3
    .b__picture
      right: percentage(330/1368)
+r($bp2)
  .b
    padding: 0
    min-height: 0
    // margin-bottom: percentage(60/320)
    margin-bottom: 100px
  .b__picture
    position: static
    margin-bottom: 20px
    // max-height: 300px
    img
      max-width: 100%
      max-height: 100%
  .b_about-1
    .b__picture
      margin-bottom: 50px
    img
      max-height: 200px
  .b_about-2
    .b__picture
      margin-left: -250px
      margin-right: -250px


.promo
  max-width: 470px
  padding-top: 15px
  margin: 0 auto 150px
  text-align: center
  background: img-url('exclamation-mark.svg') no-repeat top center
  .title
    // margin-bottom: percentage(130/470)
    margin-bottom: 130px
  .btn
    margin-bottom: 17px
  +r($bp2)
    margin-top: 100px
    margin-bottom: 100px
    .btn
      display: block
      width: auto
    .title
      margin-bottom: 80px

.video
  margin: 0 -10px
  img
    display: block
    width: 100%


.about-technology
  +clr
  +r($bp2)
    .about-technology__text
      float: none
      width: auto
    .about-technology__aside
      float: none
      width: auto
      margin-top: 80px
    .about-technology__strong
      margin-top: 80px


.about-technology__aside
  float: right
  width: 30%
  box-sizing: border-box

.about-technology__text
  float: left
  width: 65%
  box-sizing: border-box
  // margin: percentage(165/1368) auto
  line-height: 1.555
  &:first-child
    margin-top: 0
  &:last-child
    margin-bottom: 0
  p
    margin: 15px 0
    &:first-child
      margin-top: 0
    &:last-child
      margin-bottom: 0
    &::first-letter
      margin-left: 30px

.about-technology__strong
  margin-top: 170px


.about-technology-picture
  margin-top: 20px
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  &:before
    content: ""
    display: block
    padding-bottom: percentage(1400/1368)


.wrapper
  // padding-top: percentage(160/1368)
  padding-top: 160px
  background: #FFF
  position: relative
  z-index: 2
  +r($bp1)
    padding-top: 80px


.timeline
  margin: 50px 0 110px 120px
  // margin: percentage(50/960) 0 percentage(110/960) percentage(120/960)
  +f(r, 12)
  line-height: 1.5
  &:last-child
    margin-bottom: 0
  +r($bp2)
    margin-left: 40px
    .timeline__item
      padding-left: 80px
    .timeline__item_last
      padding-left: 15px
    .timeline__time
      left: 15px

.timeline__item
  position: relative
  padding-left: 110px
  padding-bottom: 30px
  &:before
    content: ""
    position: absolute
    top: 5px
    left: 0
    width: 7px
    height: 7px
    background: $text
    border-radius: 50%
  &:after
    content: ""
    position: absolute
    top: 5px
    left: 3px
    height: 100%
    width: 1px
    background: $text
  &:last-child
    padding-bottom: 0
    &:after
      display: none

.timeline__item_last
  padding-left: 40px
  .timeline__time
    position: static

.timeline__time
  position: absolute
  top: 0
  left: 40px
  +f(b, 12)


.slider
  overflow: hidden
  height: 380px
  +clr
  cursor: url('../img/cursors/drag1.png'), move
  &.dragging
    cursor: url('../img/cursors/drag2.png'), move
  +r($bp2)
    height: 240px
    .slide
      height: 240px

.slide
  float: left
  width: 570px
  height: 380px
  background-position: center center
  background-size: cover
  background-repeat: no-repeat


.about-camera
  padding-top: 340px
  position: relative
  z-index: 3
  +clr
  .title
    margin-bottom: 70px
  +r($bp1)
    padding-top: 0
    .about-camera__left,
    .about-camera__right,
      float: none
      width: auto
      margin: 0
    .about-camera__right
      margin-top: 30px
    .about-camera__picture
      position: static
    .figure + .figure
      margin-top: 30px
    .title
      margin-bottom: 30px

.about-camera__left
  float: left
  width: percentage(490/960)

.about-camera__right
  float: right
  width: percentage(360/960)
  margin-top: 360px

.about-camera__picture
  position: absolute
  top: -76px
  right: 0
  font-size: 0
  text-align: right
  img
    max-width: 100%


.figure
  display: table
  table-layout: fixed
  width: 100%
  position: relative
  margin: auto
  & + &
    margin-top: 70px
  +r($bp2)
    max-width: 280px
    & + &
      margin-top: 50px

.figure__picture
  display: table-cell
  vertical-align: middle
  width: percentage(115/288)
  box-sizing: border-box
  padding-right: percentage(30/288)

.figure__text
  display: table-cell
  vertical-align: middle
  +f(b, 18)
  line-height: 1.33


.partners
  // margin-top: percentage(160/960)
  margin-top: 160px
  +r($bp2)
    margin-top: 100px

.partners__grid
  font-size: 0
  text-align: center
  margin-bottom: -60px

.partners__grid-item
  display: inline-block
  vertical-align: middle
  margin-bottom: 60px
  // width: 25%
  width: 240px
  box-sizing: border-box
  padding: 0 30px

.partners__link
  display: inline-block
  text-decoration: none
  position: relative
  img
    display: block
    max-width: 100%
    transform: translate3d(0,0,0)
  img.monochrome
    position: relative
    z-index: 0
    transition: none
  img.color
    position: absolute
    z-index: 1
    top: 0
    left: 0
    width: 100%
    height: 100%
    opacity: 0
    visibility: hidden
    transition: all 0.2s linear
  &:hover
    img.color
      opacity: 1
      visibility: visible
    img.monochrome
      opacity: 0
      visibility: hidden
      transition: all 0.1s linear 0.2s


.slick-arrow
  display: none !important
