.nav
  position: fixed
  z-index: 98
  top: 0
  left: 0
  bottom: 0
  padding-left: 30px
  max-width: 265px
  +vertical
  white-space: nowrap
  +trans(background)
  &:hover
    background: #FFF
    .nav__link-inner
      width: 100%
      opacity: 1
  +r($bp1)
    display: none

.nav__list
  display: inline-block
  vertical-align: middle
  white-space: normal

.nav__list-item
  &:last-child
    .nav__link
      padding-bottom: 0
      &:after
        display: none

.nav__link
  position: relative
  display: block
  box-sizing: border-box
  padding: 0 20px 32px 40px
  text-decoration: none
  +f(r, 12, 50)
  line-height: 1.83
  text-transform: uppercase
  color: $graytext
  +trans(color)
  white-space: nowrap
  cursor: pointer
  &:before
    content: ""
    position: absolute
    z-index: 1
    top: em(8,12)
    left: 0
    width: 5px
    height: 5px
    background: $lightgray
    border-radius: 50%
    +trans
  &:after
    content: ""
    position: absolute
    z-index: 0
    top: em(8,12)
    left: 2px
    height: 0
    width: 1px
    background: $blue
    +trans(height)
  &.is-active
    color: $text
    &:before
      background: $blue
      box-shadow: 0 0 0 2px $blue
  &.draw-line
    &:after
      height: 100%
  &:hover
    color: $blue
    &:before
      background: $blue
  &:active
    color: $activeblue
    &:before
      background: $activeblue

.nav__link-inner
  display: block
  box-sizing: border-box
  overflow: hidden
  width: 0
  opacity: 0
  +trans
  transition-property: opacity, width

