meta(charset="utf-8")
title= pageTitle || 'Template'
meta(name="description", content="Page description. No longer than 155 characters.")
meta(http-equiv="X-UA-Compatible", content="IE=Edge")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
//- meta(name="viewport", content="width=1100")
meta(name="format-detection", content="telephone=no")
link(rel="stylesheet", media="all", href="css/screen.css")
|<!--[if lt IE 9]><script src="js/lib/html5shiv/dist/html5shiv.min.js"></script><![endif]-->

//Twitter Card data
meta(name="twitter:card", content="summary")
meta(name="twitter:site", content="@publisher_handle")
meta(name="twitter:title", content="Page Title")
meta(name="twitter:description", content="Page description less than 200 characters")
meta(name="twitter:creator", content="@author_handle")
meta(name="twitter:image", content="http://www.example.com/image.jpg/at least 120x120px")

//Open Graph data
meta(property="og:title", content="Title Here")
meta(property="og:type", content="article")
meta(property="og:url", content="http://www.example.com/")
meta(property="og:image", content="http://example.com/image.jpg")
meta(property="og:description", content="Description Here")
meta(property="og:site_name", content="Site Name, i.e. Moz")
meta(property="fb:admins", content="Facebook numeric ID")
