extends _layout

block content
  .content-wrapper
    //BEGIN intro
    a(name="intro")
    section.intro#intro
      .intro__heading
        h1.title.title_large
          | RealSense<sup>TM</sup><br>Hands-On
        .subtitle.subtitle_small
          strong Хакатон приложений к 3D-камере
          br
          | Испытайте новое измерение технологий<br>с 3D-камерой Intel® RealSense™


      .intro__picture
        img(src="img/camera-intro.png", alt="Camera")
    //END intro

    //BEGIN about-event
    a(name="about-event")
    section#about-event.l-center
      .b.b_right.b_about-1
        .b__picture
          img(src="img/promo-1.png", alt="")

        .b__text
          h2.title
            | Прими участие в создании будущего

          ul.subtitle.marked-list
            li
              | Познакомься с технологией, которая уже в этом году начнёт
              | менять мир взаимодействия человека с компьютером.
            li
              | Собери команду и создай идею своего приложения.
            li
              | Получи 3D-камеру Intel® RealSense™ и воплоти идею в реальность с командой
            li
              | Выиграй приз за лучшую реализацию
            li
              | Продолжай исследовать возможности камеры и после хакатона

          strong.subtitle
            | Только представь, что ты будешь влиять на развитие мира дополненной реальности
            | уже сейчас, в то время как большинство о ней ещё даже не слышали.



      .b.b_left.b_about-2
        .b__picture
          img(src="img/promo-2.png", alt="")

        .b__text
          h2.title
            | Мы дадим каждой команде 3D камеру, которая
            | будет доступна в продаже только через полгода
          strong.subtitle
            | У вас останется 3D камера для улучшения собственного приложения с трехмерным интерфейсом

      .b.b_right.b_about-3
        .b__picture
          img(src="img/promo-3.png", alt="")

        .b__text
          h2.subtitle
            | Призы
          strong.title.title_medium
            | Ноутбуки

      //BEGIN promo
      .promo
        h2.title
          | Количество мест ограничено техникой и пространством
        a.btn.btn_large(href="#")
          | Зарегистрироваться
        p
          | Зарегистрируйся сейчас, чтобы<br>
          | успеть пройти отбор
      //END promo
    //END about-event

    //BEGIN about-technology
    a(name="about-technology")
    section#about-technology
      .video
        img(src="img/video.gif", alt="Video")
      .wrapper
        .l-center
          h2.title.title_medium.title_mrg
            | Что за технология

          //- .l-center-narrow
          .about-technology
            article.text.about-technology__text
              p
                | Всё просто. 3D-камера Intel® RealSense™ выводит пользовательский интерфейс
                | на новый футуристический уровень, благодаря определению пространственных
                | параметров и отслеживанию человеческих движений.
              p
                | Устройства с 3D-камерой Intel® RealSense™ оснащены тремя линзами: обычной камеры,
                | инфракрасной камеры и инфракрасного лазерного проектора. Вместе эти три линзы
                | позволяют устройству определять пространственные параметры посредством отслеживания
                | отражения инфракрасного излучения от объектов, находящихся перед устройством.
                | Эти визуальные данные в сочетании с ПО Intel® RealSense™ для отслеживания движения
                | создают бесконтактный интерфейс, который реагирует на движения пальцев, рук и головы,
                | а также на изменение выражения лица.
                br
                | 3D-камера Intel® RealSense™ позволит реализовать удивительные возможности
                | с помощью комплекта Intel® RealSense™ SDK.
              p
                | Мы стремимся сделать приложения Intel® RealSense™ доступными всем пользователям телефонов,
                | планшетов и компьютеров — и ваше приложение может стать одним из них.
                | Помогите разработать следующее поколение естественных и интуитивно понятных приложений
                | с эффектом погружения, которые включают в себя отслеживание движений рук и пальцев,
                | анализ выражения лица, распознавание речи, дополненную реальность и 3D-сканирование.

              p
                | Для разработки приложений необходимо соответствовать
                | <a class="link" target="_blank" href="https://software.intel.com/sites/default/files/managed/15/c4/Getting_Started.pdf">минимальным требованиям</a>

              strong.title.title_small.about-technology__strong
                | Взгляните на создание интерфейсов по-новому и станьте одним из первопроходцев
                | следующей ступени взаимодействия человека и компьютера

            aside.about-technology__aside
              figure.figure
                .figure__picture
                  img(src="img/face.png", alt="facial analysis")
                figcaption.figure__text
                  | Анализ<br>лица
              figure.figure
                .figure__picture
                  img(src="img/hand.png", alt="hand & finger tracking")
                figcaption.figure__text
                  | Слежение за<br>руками и пальцами
              figure.figure
                .figure__picture
                  img(src="img/speech.png", alt="speech recognition")
                figcaption.figure__text
                  | Распознание<br>речи
              figure.figure
                .figure__picture
                  img(src="img/background.png", alt="background subtraction")
                figcaption.figure__text
                  | Удаление<br>фона
              figure.figure
                .figure__picture
                  img(src="img/augmented-reality.png", alt="augmented reality")
                figcaption.figure__text
                  | Дополненная<br>реальность

        .about-technology-picture(style="background-image:url('img/bg.jpg')")
    //END about-technology

    //BEGIN event-structure
    section#event-structure
      .wrapper
        .l-center
          h2.title.title_medium.title_mrg
            | Структура<br>хакатона

          .l-center-narrow
            strong.title
              | 24 июля
            ul.timeline
              li.timeline__item
                strong.timeline__time
                  | 15:00
                p.timeline__text
                  | cбор и регистрация
              li.timeline__item
                strong.timeline__time
                  | 15:30
                p.timeline__text
                  | открытие, вступительное слово, рассказ о программе мероприятия
              li.timeline__item
                strong.timeline__time
                  | 15:45
                p.timeline__text
                  | обзор технологии Intel® RealSense™. Начало работы с
                  | комплектом разработчика Intel® RealSense™ Development Kit
              li.timeline__item
                strong.timeline__time
                  | 16:30
                p.timeline__text
                  | разбор приложений Intel® RealSense™ SDK
              li.timeline__item
                strong.timeline__time
                  | 17:30
                p.timeline__text
                  | Примеры реализованных проектов для 3D-камеры Intel® RealSense™
              li.timeline__item
                strong.timeline__time
                  | 18:00
                p.timeline__text
                  | Старт хакатона

            strong.title
              | 25 июля
            ul.timeline
              li.timeline__item
                strong.timeline__time
                  | до 14:00
                p.timeline__text
                  | разработка приложений
              li.timeline__item
                strong.timeline__time
                  | 14:00
                p.timeline__text
                  | Презентация проектов и демонстраций
              li.timeline__item
                strong.timeline__time
                  | 16:00
                p.timeline__text
                  | Выбор победителей, награждение

          h2.title.title_medium.title_mrg
            | Место<br>проведения

        .slider
          .slide(style="background-image:url('img/slider/slide1.jpg')")
          .slide(style="background-image:url('img/slider/slide2.jpg')")
          .slide(style="background-image:url('img/slider/slide3.jpg')")
          .slide(style="background-image:url('img/slider/slide4.jpg')")
    //END event-structure

    //- //BEGIN about-camera
    //- section#about-camera
    //-     .about-camera
    //-       .about-camera__picture
    //-         img(src="img/camera-intro.png", alt="Camera")
    //-       .l-center
    //-         .about-camera__left
    //-           .about-camera__text
    //-             h2.title.title_medium
    //-               | Технический обзор
    //-             p
    //-               | Камера Intel® RealSense переопределяет то, как человек заимодействует
    //-               | с устройствами в играх, развлечениях, и создании контента.
    //-               | Благодаря полному цвету 1080p и датчику глубины, лучшему в своем классе,
    //-               | камера передает на компьютеры и планшеты 3D картинку, а с ней и новые
    //-               | захватывающие ощущения. Взаимодействие становится более интуитивным,
    //-               | а управление устройством - гибким, при помощи анализа лица, рук и
    //-               | отслеживания движений пальцев, распознавание речи, устранения фона
    //-               | и дополненной реальности.

    //-         .about-camera__right
    //-           figure.figure
    //-             .figure__picture
    //-               img(src="img/face.png", alt="facial analysis")
    //-             figcaption.figure__text
    //-               | Анализ<br>лица
    //-           figure.figure
    //-             .figure__picture
    //-               img(src="img/hand.png", alt="hand & finger tracking")
    //-             figcaption.figure__text
    //-               | Слежение за<br>руками и пальцами
    //-           figure.figure
    //-             .figure__picture
    //-               img(src="img/speech.png", alt="speech recognition")
    //-             figcaption.figure__text
    //-               | Распознание<br>речи
    //-           figure.figure
    //-             .figure__picture
    //-               img(src="img/background.png", alt="background subtraction")
    //-             figcaption.figure__text
    //-               | Удаление<br>фона
    //-           figure.figure
    //-             .figure__picture
    //-               img(src="img/augmented-reality.png", alt="augmented reality")
    //-             figcaption.figure__text
    //-               | Дополненная<br>реальность
    //- //END about-camera

    //BEGIN partners
    section#partners.partners
      .l-center
        h2.title.title_medium.title_mrg
          | Информационные<br>партнеры
        ul.partners__grid
          li.partners__grid-item
            a.partners__link(href="#")
              img.monochrome(src="img/partners/geeks-lab.png", alt="geeks-lab")
              img.color(src="img/partners/geeks-lab-color.png", alt="geeks-lab")
          li.partners__grid-item
            a.partners__link(href="#")
              img.monochrome(src="img/partners/growth-up.png", alt="growth-up")
              img.color(src="img/partners/growth-up-color.png", alt="growth-up")
          li.partners__grid-item
            a.partners__link(href="#")
              img.monochrome(src="img/partners/it-academy.png", alt="it-academy")
              img.color(src="img/partners/it-academy-color.png", alt="it-academy")
          li.partners__grid-item
            a.partners__link(href="#")
              img.monochrome(src="img/partners/itkpi.png", alt="itkpi")
              img.color(src="img/partners/itkpi-color.png", alt="itkpi")
          li.partners__grid-item
            a.partners__link(href="#")
              img.monochrome(src="img/partners/itvdn.png", alt="itvdn")
              img.color(src="img/partners/itvdn-color.png", alt="itvdn")
          li.partners__grid-item
            a.partners__link(href="#")
              img.monochrome(src="img/partners/seclub.png", alt="seclub")
              img.color(src="img/partners/seclub-color.png", alt="seclub")
          li.partners__grid-item
            a.partners__link(href="#")
              img.monochrome(src="img/partners/itkpi.png", alt="itkpi")
              img.color(src="img/partners/itkpi-color.png", alt="itkpi")
          li.partners__grid-item
            a.partners__link(href="#")
              img.monochrome(src="img/partners/itvdn.png", alt="itvdn")
              img.color(src="img/partners/itvdn-color.png", alt="itvdn")
    //END partners
