//BEGIN footer
footer.footer
  ul.footer__links
    li: a(href="#") Корпорация Intel
    li: a(href="#") Web Challenge
    li: a(href="#") Условия использования
    li: a(href="#") Контакты

  .footer__designer
    | Design by <a target="_blank" href="http://romantrilo.com/">Trilo</a>
//END footer
