//BEGIN header
header.header
  .header__left
    a.header__logo(href="#")
      img(src="img/realsense.svg", alt="Real Sense logotype")
    span.header__amp
      | &amp;
    a.header__logo(href="#")
      img(src="img/webchallenge.svg", alt="Web Challenge logotype")

  .menu
    button.menu__btn(type="button")
      .menu__btn-icon
    .menu__inner
      span.header__date
        | 24-25 июля
      a.btn(href="#")
        | Зарегистрироваться
      ul.lang
        li: a.lang__link(href="#")
          | Укр
        li: a.lang__link(href="#")
          | Рус
//END header
